body {
    user-select: none;
    -webkit-user-select: none;
    background-color: #333333;
    /*background-image: url(../images/light_texture2299.jpg);
    background-size: cover;*/
}

.page-content {
    position: fixed;
    width: 100%;
    margin-top: 50px;
    overflow: hidden;
}

.page-content-invisible {
    display: none;
}

#system-info-container {
    margin: 0 auto;
}

.system-info-list-item-value {
    color: #FFFFFF;
}
