body {
    user-select: none;
    -webkit-user-select: none;
    background-color: #CCCCCC;
    /*background-image: url(../images/light_texture2299.jpg);
    background-size: cover;*/
}

#main-dialog {
    display: none;
    position: fixed;
    z-index: 100;
}

.header-icons {
    margin-left: 10px;
}

.page-content {
    position: fixed;
    width: 100%;
    margin-top: 50px;
    overflow: hidden;
}

.page-content-invisible {
    display: none;
    margin-left: 100px;
}

.system-info-list-item-value {
    color: #000000;
}
